
footer.footer-1.footer.reveal-side-navigation
 .footer-top
      .row
        .column.width-3
          .widget
            .thumbnail
              img(src='images/logo.png', width='165', alt='')
            h4.widget-title.weight-light Dream | Explore | Discover
        .column.width-3
          .widget
            h4.widget-title Trending Offers
            ul.color-blue-ultralight
              li
                a(href='http://search.ss.tripkii.com/en-GB/flights#/result?originplace=HOUA&destinationplace=ATLA&outbounddate=2016-04-17&inbounddate=2016-04-21&cabinclass=Economy&adults=1&children=0&infants=0') Atlanta, USA $88
              li
                a(href='http://search.ss.tripkii.com/en-GB/flights#/result?originplace=HOUA&destinationplace=MIAA&outbounddate=2016-04-05&inbounddate=2016-04-07&cabinclass=Economy&adults=1&children=0&infants=0') Miami, USA $107
              li
                a(href='http://search.ss.tripkii.com/en-GB/flights#/result?originplace=HOUA&destinationplace=LAX&outbounddate=2016-04-12&inbounddate=2016-04-12&cabinclass=Economy&adults=1&children=0&infants=0') Los Angeles, USA $117
        .column.width-3
          .widget
            h4.widget-title Our Company
            ul.color-blue-ultralight
              li
                a(href='/about') About Us
              li
                a(href='/contact') Contact Us
        .column.width-3
          .widget
            h4.widget-title Resources
            ul.color-blue-ultralight
              li
                a(href='/terms') Terms and Conditions
  .footer-bottom
      .row
        .column.width-12
          .footer-bottom-inner.center
            ul.social-list.list-horizontal.pull-right.clear-float-on-mobile.no-margin-bottom
              li
                a(href='https://twitter.com/Tripkii')
                  span.icon-twitter.small
              li
                a(href='https://www.facebook.com/tripkii')
                  span.icon-facebook.small
            p.pull-left.clear-float-on-mobile.class.color-blue-ultralight
              | © Tripkii 2016 All Rights Reserved.

