//- includes/mobnav.jade
aside.side-navigation-wrapper.enter-right(data-no-scrollbar='', data-animation='push-in')
  .side-navigation-scroll-pane
    .side-navigation-inner
      .side-navigation-header
        .navigation-hide.side-nav-hide
          a(href='#')
            span.icon-cancel.medium
      nav.side-navigation
        ul
          li
            a(href='/engine') Hotels & Packages
          li
            a(href='http://ss.search.tripkii.com') Flights
          li
            a(href='/experiences') Travel Experiences
          li
            a(href='/about') About Us
          li
            a(href='/contact') Contact Us
      .side-navigation-footer
        ul.social-list.list-horizontal
          li
            a(href='https://twitter.com/Tripkii')
              span.icon-twitter.small
          li
            a(href='https://www.facebook.com/tripkii')
              span.icon-facebook.small
        p.copyright.no-margin-bottom © 2016 TRIPKII