doctype html
html
  head
    meta(content='width=device-width,initial-scale=1.0,maximum-scale=1.0', name='viewport')
    title= title
    link(href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/stylesheets/core.min.css')
    link(rel='stylesheet', href='/stylesheets/skin.css')
  body
   include ./includes/mobnav.jade
   .wrapper.reveal-side-navigation
    .wrapper-inner
     include ./includes/nav.jade 
     .content.clearfix
     
      block content
      include ./includes/footer.jade


    script(src='/javascripts/jquery-1.11.2.min.js')
    script(src='/javascripts/timber.master.min.js')
    script(src='/javascripts/javascript-bd.js')
    
