doctype html
html
  head
    meta(content='width=device-width,initial-scale=1.0,maximum-scale=1.0', name='viewport')
    title= title
    link(href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/stylesheets/core.min.css')
    link(rel='stylesheet', href='/stylesheets/skin.css')
    
  body
   include ./includes/mobnav.jade
   .wrapper.reveal-side-navigation
    .wrapper-inner
     include ./includes/nav.jade 
     .content.clearfix
     
      block content
      include ./includes/footer.jade


    script(src='/javascripts/jquery-1.11.2.min.js')
    script(src='/javascripts/timber.master.min.js')
    script(src='/javascripts/javascript-bd.js')
    script(src='/javascripts/lightmodal.js')
    script(type="text/javascript").
             if(10==10){
              var numRand = Math.floor(Math.random() * 10);
              var myimages = new Array();
              myimages[1] = "images/travel-agency/slider/slide-1-fs.jpg";
              myimages[2] = "images/travel-agency/slider/slide-2-fs.jpg";
              myimages[3] = "images/travel-agency/slider/slide-3-fs.jpg";
              myimages[4] = "images/travel-agency/slider/slide-4-fs.jpg";
              myimages[5] = "images/travel-agency/slider/slide-5-fs.jpg";
              myimages[6] = "images/travel-agency/slider/slide-6-fs.jpg";
              myimages[7] = "images/travel-agency/slider/slide-7-fs.jpg";
              myimages[8] = "images/travel-agency/slider/slide-8-fs.jpg";
              myimages[9] = "images/travel-agency/slider/slide-9-fs.jpg";
              myimages[10] = "images/travel-agency/slider/slide-10-fs.jpg";
              if (numRand == 0){
                numRand = numRand + 1;
              }
                var item = document.getElementById("yo");
                //item#{".src"} = item.dataset.src;
                //alert (item);
                
             }  
    
