extends layout

block content
  section.section-block.featured-media.page-intro.tm-slider-parallax-container
      .tm-slider-container.full-width-slider(data-parallax='', data-animation='slide', data-scale-under='1140')
        ul.tms-slides
          li.tms-slide.bkg-blue(data-image='', data-force-fit='')
            .tms-content
              .tms-content-inner.center
                .row
                  .column.width-12
                    h1.tms-caption.color-white.mb-10(data-animate-in='opacity:0;transY:50px;duration:1000ms;easing:easeFastSlow;', data-no-scale='')
                      | Terms and Conditions
                    .clear
                    p.tms-caption.text-uppercase.color-white(data-animate-in='opacity:0;transY:50px;duration:1000ms;delay:500ms;easing:easeFastSlow;', data-no-scale='')
                      | Please read carefully all policies
    .section-block.replicable-content
      .row
        .column.width-10.offset-1
          h3 WEBSITE POLICIES AND COOKIES
          h4 PRIVACY
          p.lead
            | Tripkii and its related parties are committed to protecting your personal information that you share with us. We want you to understand our Privacy Policy and what it means to you, our customer. Please take a moment to review this Privacy Policy. By using our website or the services offered by us, you are consenting to our use of such personal information as you provide to us as described herein. If you do not consent to our use of your information, please do not use our services. Any questions you have about our Privacy Policy, or the information contained herein can be directed to our Privacy Officer at: privacy@tripkii.com.
          h4 WHAT IS CONSIDERED PERSONAL INFORMATION AND WHY WOULD IT BE COLLECTED?
          p.lead
            | Tripkii collects personal information only to the extent necessary to deliver the services, products, or information you, or an agent or other passenger booking on your behalf, request. Tripkii collects, holds, uses and discloses, only as necessary the following personal information from customers and others in the course of offering services or providing services to you: full name, age, home address, phone number, e-mail address, passport and travel medical information, where required, insurance details where applicable, nationality, residency, nutrition preferences, trip evaluations, travel & accommodation preferences, comments you provide us, trip destination information.
            | The collection of this information is done to allow us to provide services to you as requested. Note: credit card and/or other payment data is stored in a secured and encrypted third party vault. Tripkii collects personal information from agents and agencies to the extent required to allow agents to book Tripkii' trips, and to be properly credited for such booking, as necessary and as dictated by the relationship between the agent and Tripkii. Such information may include name, employment relationship or employer information, work or business address, etc. If you are an agent travelling with Tripkii, Tripkii may collect the personal information noted above for other travelling passengers, as well as other employment or eligibility information. This information may be collected directly from you, or from your employer (where authorized).
            | Where the collection of certain details of your personal information is not required in order to deliver requested services or products, you may forgo providing such details. For example, you may sign up for our electronic marketing and newsletters with only an e-mail address. You may also be entitled, in certain circumstances where verification of your identity is not required, to deal with Tripkii using a pseudonym. Please ask Tripkii to advise if the personal information in question is required to complete your request.
          h4 HOW IS MY PERSONAL INFORMATION USED OR DISCLOSED?
          p.lead
            | Tripkii uses this personal information to provide the services and/or products you have requested, or to provide you with information about those services. This includes using personal information to: answer your request for further information about our trips, make a booking or booking(s), provide you with information about the Company and/or our services, and to receive and implement feedback on those services. Tripkii may also use your personal information to book products and services for you or on your behalf from our third party suppliers and service providers, or other service providers or merchants for whom we act as agent from time to time. This collection of personal information can be both for our internal purposes, for example, to process your booking, and occasionally on behalf of the parties for whom we act as agent, for their internal purposes in providing the services or products you have requested. Please be aware that the consent you provide to the collection and use of personal information by Tripkii, applies equally to the parties whose products and services we sell or book on your behalf. For example, if you purchase a flight from us, you will be deemed to have consented to your personal information being provided to the airline to enable your flight to be booked.
          h4 WHAT ARE THE CONSEQUENCES OF FAILING TO PROVIDE PERSONAL INFORMATION?
          p.lead
            | If you do not provide the Personal Information that we request, we may not be able to deliver the services you have requested, which may mean you won't be able to participate in our trips. If you have paid a deposit and later refuse to provide necessary Personal Information to Tripkii which Tripkii (or our partners and suppliers) require to deliver the service for which the deposit was paid (for example, for a flight which requires passport information), you may not be entitled to a refund for that service. Please contact us if you have any questions about providing or not providing Personal Information when booking or otherwise dealing with Tripkii. Personal information is not collected unless provided to us. This means you can visit and browse our website, or place a call to our sales contact center, without having to provide any personal information to Tripkii.
          h4 HOW IS YOUR PERSONAL INFORMATION PROTECTED?
          p.lead
            | The security and integrity of your Personal Information is important to us. All personal information is stored in secure databases at secure addresses to prevent unauthorized access. Passwords, encryption devices and firewalls protect these databases. Please note however that no data transmission over the Internet can be guaranteed to be 100% secure. While we take all steps to ensure the safety of your data, we cannot ensure the security of information you transmit to us over the Internet.
            | Access to your personal and private information is limited to: authorized employees, of Tripkii, and any of the third-party suppliers who require your information to provide the travel or other services you have requested (such as the airlines, transportation services, hotels, activity providers, and tour guides who deliver the services you purchase through Tripkii or that we arrange on your behalf). We keep our employees and our third party suppliers and other partners informed about our policies and procedures and require strict compliance with this Policy in order to ensure your information remains protected. Unauthorized access and/or disclosure of client information are strictly prohibited.
          h4 Cookies
          p.lead
            span.weight-bold What is a Cookie? 
            | A cookie is a small text file containing a unique identification number that a website sends to your computer's web browser. While you visit a particular website, a cookie may be used to track the activities of your browser as well as provide you with a consistent, more efficient experience.
          p.lead
            span.weight-bold How do third-party vendors use Cookies? 
            | Third party vendors, including Google, show Tripkii' ads across the internet. These third party vendors use cookies to serve ads based on a user's prior visits to the Tripkii website. Neither Tripkii, or any affiliated third party vendor, store any personal information in the cookie data. Users may opt out of third-party usage of cookies by visiting the Network Advertising Initiative opt-out page.
          p.lead
            span.weight-bold How does Tripkii use cookies? 
            |  Cookies may be used to help speed up the booking process so you do not need to re-type the same information again and again. We may use cookies to measure website usage such as entry and exit points of visitors, how many people visit a certain section or page and details of searches performed and related information. If you are making a purchase we may also use cookies to keep track of the transaction from one page to the next. We do not store any personal information in the cookie, or use it for any other purpose.
          h4 CHANGES TO THIS PRIVACY POLICY
          p.lead
            | From time to time it may be necessary for Tripkii to amend or make revisions to this Privacy Policy, which amendments may also apply to your personal information collected under a previous version of this Policy. Tripkii reserve the right to change this Privacy Policy at any time and for any reason. If we make a change to the Policy, the revised version will be posted on our website.
